<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Series</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>
  fieldset{
      border: 5px solid;
      padding: 50px;
      width:50%;
      height: 80%;
      position:absolute;
      align-content: center;

  }

  legend{
      border: 3px solid;
      padding: 10px;
      font-size:large;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  #formulario label{
      position:absolute;
      left:19px;
      margin-right:5px;
  }
</style>

<body>
  <fieldset>
    <legend><b>Series</b></legend>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/formSerie" class="btn btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Numero Episodios</th>
              <th scope="col">Numero Temporadas</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          
          <tbody>
            {% for dbs in db1 %}
            <tr>
              <td>{{dbs.id}}</td>
              <td>{{dbs.nomeSerie}}</td>
              <td>{{dbs.numEp}}</td>
              <td>{{dbs.numTemp}}</td>
              <td>
                <div>
                  <a href="/viewSerie/{{dbs.id}}/" class="btn btn-dark" >Visualizar</a>
                </div>
                <div>
                  <a href="/editSerie/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                </div>
                <div> 
                  <a href="/deleteSerie/{{dbs.id}}/" class="btn btn-danger">Deletar</a>
                </div>
    
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% load static%}
    </div>
    </fieldset>
</body>
</html>